@import 'styles/variables.scss';

.scroll-top-button {
    position: fixed;
    bottom: rem(20px);
    right: rem(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(50px);
    height: rem(50px);
    background-color: $color-red;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
    }
}

.body.expand {
    .scroll-top-button {
        bottom: rem(110px);

        @include respond-below(sm) {
            bottom: rem(130px);
        }
    }
}
