@import 'styles/variables.scss';

.genre {
    &__swiper {
        &-prev {
            margin-right: rem(6px);
        }

        &-prev,
        &-next {
            padding: rem(5px);
            cursor: pointer;
        }

        &-button--disabled {
            opacity: 0.6;
        }
    }

    &__content {
        .swiper-wrapper {
            padding-inline-start: 0;
        }
    }

    &__post {
        width: rem(220px);
        margin-right: rem(20px);
        border-radius: rem(5px);
    }
}
